@import url('https://fonts.googleapis.com/css?family=Patua+One|Open-Sans');

@font-face {
    font-family: AvenirBold;
    src: url("../assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
    font-family: AvenirLight;
    src: url("../assets/fonts/AvenirLTStd-Light.otf");
}

body {
    font-family: AvenirLight, 'Open Sans', sans-serif;
    font-size: 11pt;
    text-align: justify;
    background-image: url("../assets/images/background.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;

    border-radius: 5px;
    background: #fcfcfc;
    width: 75%;
    height: 85%;
    overflow: auto;
    position:absolute;
    top: 50px;
    padding: 10px;
    
    -webkit-box-shadow: -5px 10px 50px -22px rgba(0,0,0,0.3);
    -moz-box-shadow: -5px 10px 50px -22px rgba(0,0,0,0.3);
    box-shadow: -5px 10px 50px -22px rgba(0,0,0,0.3);
}

.name {
    font-weight: bold;
    font-family: AvenirBold, Roboto;
    font-size: 40pt;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: AvenirBold, Roboto;
    text-align: center;
    margin: 5px;
}

h1 {
    font-size: 30pt;
}

p {
    font-family: AvenirLight;
    font-size: 10pt;
    align-self: center;
    width: 40%;
    text-align: justify;
    margin: 5px 0 5px 0;
}

hr {
    display: flex;
    height: 0.5px;
    border: 0;
    border-top: 1px solid rgb(223, 223, 223);
    margin: 1em 1em;
    padding: 0;
}

.rounded {
    align-self: center;
    width: 150px;
    height: 150px;
    margin: 1.25em;
}

.list {
    align-self: center;
}

nav {
    align-self: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 3%;
    padding: 0px 15px 0px 15px;
}

nav ul li a {
    text-decoration: none;    
}

::selection {
    text-decoration: none;
    color:white;
    background: rgb(46, 49, 145);
}
::-moz-selection {
    text-decoration: none;
    color:white;
    background: rgb(46, 49, 145);
}

a {
    color: black;
}

a:visited { 
    text-decoration: none;
    color:black;
}

a:focus {
    text-decoration: none;
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(46, 49, 145);
    background: white;
}

.no-bullet {
    padding-left: 0;
    list-style-type: none;
}

.menu {
    font-size: 12pt;
}

.squiggle {
    width: 200px;
    margin: 1em;
    align-self: center;
}

.date {
    color: rgb(31, 31, 31);
    font-size: 10pt;
    align-self: center;
}