<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/style.css">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <title>Liam Graham | Blog</title>
</head>

<body>
    <div class="main">
        <div class="box">
            <nav class="menu">
                <ul class="no-bullet">
                    <li><a href="index">Home</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="about">About</a></li>
                </ul>
            </nav>
            <hr>
            <h1>Blog</h1>
            <img class="squiggle" src="assets/images/squiggle.png" alt="Liam">
            <ul class="list">
                { POST_LIST }
            </ul>
        </div>
    </div>
</body>

</html>