<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../../../../static/style.css">

<head>
    <meta charset="UTF-8">
    <title>Liam Graham | Blog</title>
</head>

<body>
    <div class="main">
        <div class="box">
            <nav class="menu">
                <ul class="no-bullet">
                    <li><a href="../../../../index.html">Home</a></li>
                    <li><a href="../../../../projects.html">Projects</a></li>
                    <li><a href="../../../../blog.html">Blog</a></li>
                    <li><a href="../../../../about.html">About</a></li>
                </ul>
            </nav>
            <hr>
            <h1>Blog</h1>
            <img class="squiggle" src="../../../../assets/images/squiggle.png" alt="Liam">
            { POST_CONTENT }
        </div>
    </div>
</body>

</html>